simplified_ui true
theme "tokyo-night"

keybinds {
    tab {
        bind "e" { NewTab { layout "editor"; }; SwitchToMode "Normal"; }
        bind "f" { NewTab { layout "yazi"; }; SwitchToMode "Normal"; }
        bind "F" { NewTab { layout "xplr"; }; SwitchToMode "Normal"; }
        bind "g" { NewTab { layout "lazygit"; }; SwitchToMode "Normal"; }
    }
}
