[core]
	editor = vim
	excludesfile = ~/.gitignore
[user]
	name = Herkermer Sherwood
	email = theherk@gmail.com
[color]
	ui = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[alias]
	subup=submodule update --init
