[core]
	editor = emacsclient
	excludesfile = ~/.gitignore
[user]
	name = Adam Sherwood
	email = theherk@gmail.com
[color]
	ui = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[alias]
	subup=submodule update --init
[url "git@github.com:commure/"]
	insteadOf = https://github.com/commure/
[color "diff"]
	whitespace = red reverse
