[core]
	editor = emacsclient
	excludesfile = ~/.gitignore
[user]
	name = Adam Sherwood
	email = theherk@gmail.com
[color]
	ui = true
[alias]
	subup=submodule update --init
[color "diff"]
	whitespace = red reverse
