[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/ailine"]
	path = .vim/bundle/ailine
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/gitgutter"]
	path = .vim/bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = https://github.com/bling/vim-airline
