*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
# bin # actually want these in this repo
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# sensitive files

# tmp vim files
.vim/tmp/

# .vim/.netrwhist - no need to keep this
.vim/.netrwhist

# let NeoBundle handle bundles
.vim/bundle

# don't add everybody's keys
bin/addall.sh
