layout {
    tab name="editor" focus=true {
        pane command="editor" borderless=true close_on_exit=true focus=true
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
}
