layout {
    tab name="main" {
        pane
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="lazygit" {
        pane command="lazygit"
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
}
