layout {
    tab name="raicode" focus=true {
        pane command="raicode" borderless=true close_on_exit=true focus=true
        pane size=1 borderless=true {
            plugin location="file:~/bin/zjstatus.wasm" {
                format_left   "{mode} {tabs}"
                format_right  "#[fg=blue]󱂬  #[fg=yellow,italic]{session}"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=magenta]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal       "#[bg=blue] #[fg=blue, bold]    "
                mode_locked       "#[bg=red] #[fg=red, bold]    "
                mode_resize       "#[bg=yellow] #[fg=yellow, bold] {name}"
                mode_pane         "#[bg=blue] #[fg=blue, bold]    "
                mode_tab          "#[bg=cyan] #[fg=cyan, bold]    "
                mode_scroll       "#[bg=yellow] #[fg=yellow, bold] {name}"
                mode_enter_search "#[bg=cyan] #[fg=cyan, bold] {name}"
                mode_search       "#[bg=cyan] #[fg=cyan, bold] {name}"
                mode_rename_tab   "#[bg=yellow] #[fg=yellow, bold] {name}"
                mode_rename_pane  "#[bg=yellow] #[fg=yellow, bold] {name}"
                mode_session      "#[bg=yellow] #[fg=yellow, bold]  󱂬  "
                mode_move         "#[bg=yellow] #[fg=yellow, bold] {name}"
                mode_prompt       "#[bg=blue] #[fg=blue, bold] {name}"
                mode_tmux         "#[bg=green] #[fg=green, bold] {name}"

                tab_normal            "#[fg=blue]|#[fg=yellow] {name} "
                tab_normal_fullscreen "#[fg=blue]|#[fg=yellow] 🔍 {name} "
                tab_active            "#[fg=blue]|#[bg=#414559,fg=magenta,bold,italic] {name} "
                tab_active_fullscreen "#[fg=blue]|#[bg=#414559,fg=magenta,bold,italic] 🔍 {name} "
              }
        }
    }
}
