[aliases]
bm = ["bookmark", "set", "main", "--revision=@-"]
ccc = ["util", "exec", "--", "ccc.sh"]
ghcc = ["util", "exec", "--", "ghcc.sh"]
gr = ["util", "exec", "--", "gr.sh"]
pm = [
    "util",
    "exec",
    "--",
    "bash",
    "-c",
    "jj bookmark set main --revision=@- && jj git push",
]
sync = [
    "util",
    "exec",
    "--",
    "bash",
    "-c",
    'jj git fetch && jj rebase -d "trunk()"',
]

[user]
name = "Adam Sherwood"
email = "theherk@gmail.com"

[signing]
behavior = "own"
backend = "gpg"
key = "theherk@gmail.com"

[ui]
default-command = "log"
commit-template = "~/.config/jj/commit-template.txt"
diff-editor = ":builtin"
merge-editor = "mergiraf"

[colors]
"diff removed" = "red"
"diff added" = "green"

[git]
abandon-unreachable-commits = true

[remotes.origin]
auto-track-bookmarks = "glob:*"

[revset-aliases]
trunk = "main@origin"
mine = "author('theherk@gmail.com')"

[template-aliases]
commit_summary = '''
if(description,
  description.first_line(),
  "(no description set)"
)
'''

[snapshot]
max-new-file-size = "1MB"

[fix]
tools.go = { command = ["go", "fmt"], patterns = ["*.go"] }
tools.python = { command = ["ruff", "format", "-"], patterns = ["*.py"] }
tools.terraform = { command = [
    "terraform",
    "fmt",
    "-",
], patterns = [
    "*.tf",
    "*.tfvars",
] }
